/* Animations start  */
@keyframes moveInLeft {

    /* 
    1. transform : rotate(120deg) ----> This tranforms the element to rotate 
    */

    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-30rem);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
        color: yellow;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

