@import "../../sass/abstracts/variables";
@import "../../sass/base/typography";
@import "../../sass/base/animations";
@import "../../sass/components/button";

.hero {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         rgba(rgb(28, 29, 80) , 0.1) ,
          rgba(rgb(77, 153, 77), 0.3)
          ) , 
          url(../../img/developer.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon( 0 0% , 100% 0 , 100% 75vh , 0 100%);
    clip-path:  polygon(0 0, 100% 0%, 100% 75%, 0 100%);

    &__logo-box {
   
        position: absolute;
        top: 4rem;
        left: 8rem;
        transition: all 1s;
        animation: App-logo-spin infinite 2s linear;

        // &:hover {
        //     transform: rotateY(360deg);
        // }
    }
    
    &__logo {
        height: 7rem;
        
    }
    
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 25%;
        transform: translate(-50% , -50%);
        font-size: 1.6rem;
        text-align: left;
    }

}




