@import "../../sass/abstracts/variables";
@import "../../sass/base/typography";
@import "../../sass/base/animations";
@import "../../sass/components/button";

.hero {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         rgba( #1E2761 , 0.4) ,
          rgba(white, 0.1)
          ) , 
          url(../../img/developer.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon( 0 0% , 100% 0 , 100% 75vh , 0 100%);
    clip-path:  polygon(0 0, 100% 0%, 100% 75%, 0 100%);

    @include respond(phone) {
            height: 80vh;   
        -webkit-clip-path: polygon( 0 0% , 100% 0 , 100% 70vh , 0 100%);
        clip-path: polygon( 0 0% , 100% 0 , 100% 70vh , 0 100%); 
    }
    

    &__logo-box {
   
        position: absolute;
        top: 2rem;
        left: 8rem;
        transition: all 1s;
        animation: App-logo-spin infinite 2s linear;

        // &:hover {
        //     transform: rotateY(360deg);
        // }

        // @include respond(tabLand) {
        //     font-size: 2rem;
        //     margin-left: 5rem;
        // }

        @include respond(tabPort) {
            top: 4rem;
            left: 14rem;
        }

        @include respond(phone) {
            top: 0rem;
            left: 2rem;
        }
    }
    
    &__logo {
        height: 10rem;
        
        @include respond(phone) {
            height: 13rem;
        }
    }
    
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 25%;
        transform: translate(-50% , -50%);
        font-size: 1.6rem;
        text-align: left;

        @include respond(tabLand) {
            top: 50%;
            padding-left: 3rem;
            margin-left: 3rem;
        }

        @include respond(tabPort) {
            text-align: center;
            font-size: 1rem !important;
        }

        @include respond(phone) {
            left: 8rem;
            width: 100%;
            top: 25rem;
        }

        
    }

}




