@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";
@import "../../sass/layout/grid";
@import "../../sass/base/utilities";
@import "../../sass/base/typography";

.section-stories {
    padding: 15rem 0; //top/bottom left/right 
    position: relative;   
    
    @include respond(tabPort) {
        padding: 10rem 0 ;
    }
}

.story {
    width: 75%;
    margin: 0 auto; //Since this is block element we make it to center
    box-shadow: 0 3rem 6rem rgba($color-black , .1); //x y blur color
    background-color: rgba($color-white , .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tabPort) {
        width: 100%;
        padding: 4rem;
    padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    //The below code is immediate first child selector
    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //circle(radius)
        //To achieve shape-outside the element must be floating , should have height and width
        // shape-outside defines where the content flows around the element
        //If we want to show a circle then clip-path is the property
        -webkit-clip-path: circle(50% at 50% 50%); 
        clip-path: circle(50% at 50% 50%); 
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
      
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50% , -50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); 
        // Used to blur and darken the image. Just like adding filter to image
    }

    
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //This property is similar to image background size cover
        //The video will fill the entire parent element maintaining the aspect ratio
    }
}