@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";
@import "../../sass/layout/grid";
@import "../../sass/base/animations";


.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom , 
        rgba(red , 0.5),
        rgba(white , 0.8)) ,
        url(../../img/sass.jpg);
        background-size: cover;
        margin-top: -10rem;

        transform: skewY(-7deg);

        //The below code is immediate first child selector
        & > * {
            transform: skewY(7deg);
        }
}


.feature-box {
    background-color: rgba($color-white , .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black , .5);
    transition: transform .5s;
    animation: wiggle 2s linear infinite;


    &__icon {
        font-size: 8rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right , $color-primary-light , $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-2rem) scale(1.3) rotateY(360deg);
    }
}

.heading-secondary-skills {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block; //This property helps us to stop the block where the text ends so this element 
                             //should not take 100% of its available width
                            //By default it is block element

    background-image: linear-gradient(to right bottom , red , black);

    -webkit-background-clip : text; 
    
    background-clip : text; // This property will clip the background i.e the above linear gradient
                                    //It will clip exactly where the text sits
    
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(black , 0.5); 
        //0.5rem is x direction , 1 rem is y direction , 2rem is blur
        // rgba 0.2 is 20% opacity
    }
}

.heading-tertiary-skills {
    font-size: $default-font-size;
    font-weight: 800;
    text-transform: uppercase;
    color: darkred;
}