@import "../../sass/abstracts/variables";
@import "../../sass/base/utilities";
@import "../../sass/abstracts/mixins";
@import "../../sass/components/composition";
@import "../../sass/layout/grid";
@import "../../sass/base/typography";

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tabPort) {
        margin-top: -30vh;
    }
}


.my-details {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    text-align: center;
}

.heading-tertiary-about {
    font-size: $default-font-size;
    font-weight: 800;
    text-transform: uppercase;
    color: darkgreen;
}



